<footer class="footer-quality">
  <!--logo-->
  <div class="image-logo-quality">
    <img
      src="./src/img\images/sprajty/image.girl.jpg"
      alt="a young girl with red hair,smiling,holding bunches of bananas in her left and right hands"
      width="349"
      height="179"
    />
    <a class="header__logo" href="#">
      <svg class="harvestlogo" width="156" height="18">
        <use
          href="./src/img/images/sprajty/icons.svg#icon-harvestlogo"
          class="link"
        ></use>
      </svg>
    </a>
  </div>
  <!--menu-->
  <div class="footer-menu-quality">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#how-it-works">How It Works</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#fruits">Fruits</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </div>
  <!--linki-->
  <div>
    <ul class="footer-link">
      <li>
        <svg class="" width="40" height="40">
          <use href="./src/img\images/sprajty/icons.svg#icon-facebook"></use>
        </svg>
      </li>
      <li>
        <svg class="" width="40" height="40">
          <use href="./src/img\images/sprajty/icons.svg#icon-instagram"></use>
        </svg>
      </li>
      <li>
        <svg class="" width="40" height="40">
          <use href="./src/img\images/sprajty/icons.svg#icon-youtube"</use>  
        </svg>
      </li>
    </ul>
  </div>
</footer>
