<header class="header-bar">
  <div class="header-container">
    <nav class="navi">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#how-it-works">How It Works</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#fruits">Fruits</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <a class="header__logo" href="#">
        <svg class="harvestlogo" width="156" height="18">
          <use
            href="./src/img/images/sprajty/icons.svg#icon-harvestlogo"
            class="link"
          ></use>
        </svg>
      </a>
      <a class="header__basket" href="#">
        <svg class="basket" width="28" height="28">
          <use
            href="./src/img/images/sprajty/icons.svg#icon-basket"
            class="link"
          ></use>
        </svg>
      </a>
    </nav>
  </div>
</header>
