<section class="order">
      <div class="container">
        <div class="container-text">
          <h2 class="order-title">
            To order your fruit basket, simply follow these easy steps
          </h2>
          <p class="order-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home. Whether you're looking for a healthy snack or a
            thoughtful gift, our fruit baskets are the perfect choice.
          </p></div>
          
            <ul class="container-text-menu">
              <li class="container-text-menu-list">
                <div class="container-text-menu-list-div"><h3 class="container-text-menu-list-div-title">First Step</h3></div>
                <p class="container-text-menu-list-text">
                  Just choose the fruit you want to order by clicking on the
                  checkboxes next to it.
                </p>
              </li>
              <li class="container-text-menu-list">
                <div class="container-text-menu-list-div-second"><h3 class="container-text-menu-list-div-title">Second Step</h3></div>
                <p>Click on the basket and fill out the form.</p>
              </li>
              <li class="container-text-menu-list">
                <div class="container-text-menu-list-div-third"><h3 class="container-text-menu-list-div-title">Third Step</h3></div>
                <p>
                  Sit back and relax! Your fresh fruit basket will be delivered.
                </p>
              </li>
            </ul>
          
        </div>
        
      </div>
      <img
          class="fruits-blueberries"
          src="./img/images/section2fruits.jpg"
          alt="blueberries and other fruits"
          width="860"
          height="476"
        />
    </section>
