<!-- Section Organic Fruits -->
<section class="section-fruits">
  <div class="container">
    <h2 class="fruits-title">Organic Fruits</h2>
    <p class="fruits-undertitle">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-item strawberry">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/strawberry.png" alt="truskawki" width="295" />
        <p class="fruits-price">100UH/kg</p>
      </li>
      <li class="fruits-item banana">
        <h3 class="fruits-item-title">Banana</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/banana.png" alt="banany" width="295" />
        <p class="fruits-price">80UH/kg</p>
      </li>
      <li class="fruits-item watermelon">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/watermelon.png" alt="arbuz" width="295" />
        <p class="fruits-price">40UH/kg</p>
      </li>
      <li class="fruits-item lime">
        <h3 class="fruits-item-title">Lime</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/lime.png" alt="limonki" width="295" />
        <p class="fruits-price">60UH/kg</p>
      </li>
      <li class="fruits-item apple">
        <h3 class="fruits-item-title">Apple</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/apple.png" alt="jabłka" width="295" />
        <p class="fruits-price">50UH/kg</p>
      </li>
      <li class="fruits-item peach">
        <h3 class="fruits-item-title">Peach</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/peaach.png" alt="śliwki" width="295" />
        <p class="fruits-price">80UH/kg</p>
      </li>
      <li class="fruits-item peach">
        <h3 class="fruits-item-title">Plums</h3>
        <p>Plant</p>
        <img src="./images/plums.png" alt="śliwki" width="295" />
        <p class="fruits-item-type">80UH/kg</p>
      </li>
      <li class="fruits-item orange">
        <h3 class="fruits-item-title">Orange</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/orange.png" alt="pomrańcze" width="295" />
        <p class="fruits-item-type">60UH/kg</p>
      </li>
      <li class="fruits-item kiwi">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./images/kiwi.png" alt="kiwi" width="295" />
        <p class="fruits-item-type">90UH/kg</p>
      </li>
    </ul>
    <button type="button" class="button-order" data-order-open>
      <svg class="icon-arrow" width="14" height="14">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
      <span class="button-name">ORDER</span>
    </button>
  </div>
</section>
