<!--okno modalne Thank you-->

<div class="thankyou is-open">
  <!--przycisk zamykający-->
  <div class="row">
    <button id="close">X</button>
  </div>
  <!--obrazek maliny-->
  <div class="modal-thank-picture">
    <img
      src="./src/img/images/rasberry.jpg"
      alt="three raspberries on a pink background"
      width="278"
      height="239"
    />
  </div>
  <!--tytuł i tekst-->
  <div class="modal-thank-text">
    <h2 class="modal-thank-heading">Thank you</h2>
    <p class="modal-thank-item">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
