<div class="order">
<!--krzyżyk zamykający okno-->
  <div class="cross-quality">
    <button id="close">X</button>
  </div>
  <!--tytuł-->
  <h2 class="order-text">Your Order</h2>
  <!--lista owoców-->
    <ul>
      <li>
        <p>Strawberry basket</p>
        <img src="" alt="" width="173" height="196" />
      </li>
      <li>
        <p>Apple basket</p>
        <img src="" alt="" width="173" height="196" />
      </li>
      <li>
        <p>Fruits basket</p>
        <img src="" alt="" width="173" height="196" />
      </li>
    </ul>
  </div>
  <!--formularz i obraz-->
  <div>
    <form>
      <label class="order-form">
        Username
        <input type="text" name="username" placeholder="Enter full name.." />
      </label>
      <label class="order-form">
        Email
        <input type="email" name="email" placeholder="Enter email.." />
      </label>
      <label class="order-form">
        Card
        <input type="text" name="card" placeholder="Enter card.." />
      </label>
      <label class="order-form">
        Enter comments
        <textarea name="comments" rows="5" placeholder="Enter comments..."></textarea>
      </label>
      <!--przycisk-->
      <button class="order-butt-quality" type="submit">Submit</button>
    </form>
    <!--obraz-->
    <img src="./src/img/images/girlwhite" alt="a young girl with red hair,smiling,holding bunches of bananas in her left and right hands" width="471" height="458" />
  </div>
</div>
