<div>
<!--krzyżyk zamykający okno-->
  <div class="">
    <button id="close">X</button>
  </div>
  <h2>Your Order</h2>
  <!--lista owoców-->
    <ul>
      <li>
        <p>Strawberry basket</p>
        <img src="" alt="" width="173" height="196" />
      </li>
      <li>
        <p>Apple basket</p>
        <img src="" alt="" width="173" height="196" />
      </li>
      <li>
        <p>Fruits basket</p>
        <img src="" alt="" width="173" height="196" />
      </li>
    </ul>
  </div>
  <!--formularz i obraz-->
  <div>
    <form>
      <label>
        Username
        <input type="text" name="" placeholder="Enter full name.." />
      </label>
      <label>
        Email
        <input type="text" name="" placeholder="Enter email.." />
      </label>
      <label>
        Card
        <input type="text" name="" placeholder="Enter card.." />
      </label>
      <label>
        Enter comments
        <textarea name="" rows="" placeholder="Enter comments..."></textarea>
      </label>
      <button type="submit">Submit</button>
    </form>
    <img src="./src/img/images/girlwhite" alt="a young girl with red hair,smiling,holding bunches of bananas in her left and right hands" width="471" height="458" />
  </div>
</div>
