.hero .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero_watermelon_text {
  width: 279px;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 14px;
  text-align: start;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.hero_watermelon_box {
  position: relative;
  text-align: center;
  width: 249px;
  min-height: 387px;
  border: 1px solid transparent;
  border-radius: 500px;
  background-color: #a4cb66;
}
.watermelon_box_title {
  padding-top: 28px;
  padding-bottom: 62px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.watermelon_wrap {
  text-align: center;
}
.hero_watermelon_img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.watermelon_description {
  width: 155px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 40px;
}

.hero_girl {
  position: relative;
  margin-bottom: 84px;
}
.hero_title {
  position: absolute;
  z-index: 2;
}
.hero_title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.hero_title::before {
  width: 120px;
  height: 120px;
  right: 32px;
  top: -25px;
  background-image: url(/src/img/images/banana.png);
  background-size: 120px 120px;
  filter: blur(3.5px);
  position: absolute;
  z-index: -1;
}
.hero_title::after {
  width: 186px;
  height: 124px;
  left: 38px;
  bottom: -81px;
  background-image: url(/src/img/images/strawberry.png);
  background-size: 186px 124px;
  filter: blur(4px);
  position: absolute;
  transform: rotate(20deg);
  z-index: -1;
}
.hero_girl_box {
  position: relative;
}
.hero_girl_image {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 19px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 500px;
  display: block;
  max-width: 100%;
  height: auto;
}
.hero_link {
  width: 114px;
  height: 114px;
  margin-top: -57px;
  font-size: 28px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ae1332;
  background-color: #ffffff;
  border-radius: 50%;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
}
.hero_list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
}
.ul_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 96px;
  justify-content: right;
  width: 270px;
  margin-top: 44px;
}
.list_item {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 1000px;
  padding-left: 32px;
  padding-right: 32px;
}
.list_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.hero_strawberry_box {
  background: #f5ce13;
  position: relative;
  text-align: center;
  width: 249px;
  min-height: 387px;
  border: 1px solid transparent;
  border-radius: 500px;
}
.strawberry_title {
  padding-top: 28px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-align: center;
}
.strawberry_wrapper {
  text-align: center;
}
.hero_strawberry_image {
  text-align: center;
  margin: 0 auto 17px;
  display: block;
  max-width: 100%;
  height: auto;
}
.strawberry_description {
  width: 155px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 40px;
}
